main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#board > div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#board > div:hover {
    cursor: pointer;
}

.buttons button {
    margin: 10px 0px 0px 12px;
}
